doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title 2024 Subaru Crosstrek

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') Subaru Crosstrek
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#price') Price
                        li.nav-item
                            a.nav-link(href='#features') Features
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h1.mx-auto.my-0.text-uppercase 2024 Subaru Crosstrek
                        h2.text-white-50.mx-auto.mt-2 in Charlotte, NC
                        p.text-white-50.mx-auto.mt-2.mb-5
                            i.fa-solid.fa-star(aria-hidden='true')
                            span.button-text 4.39 (74 Reviews)
                            
                        

                        a.btn.btn-primary(href='#price') 
                            i.fa-solid.fa-circle-info(aria-hidden='true')
                            span.button-text Features
                        

        // Price
        section#price.about-section.text-center
            .container.px-4.px-lg-5
                img.img-fluid(src='assets/img/crosstrek.png', alt='...')
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2.text-white.mb-4 MSRP $28,245
                        p.text-white-50 MPG: 29 City / 35 Highway
                            br
                            br
                            a.btn.btn-secondary(href='/searchnew.aspx')
                                i.fa-solid.fa-magnifying-glass(aria-hidden='true')
                                span.button-text Search Available Inventory
                        

        // Features
        section#features.projects-section.bg-light
            .container.px-4.px-lg-5
                // Featured Project Row
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/crosstrek6.jpg', alt='...')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 Always room for stories.
                            p.text-black-50.mb-0
                                | The 2024 Subaru Crosstrek is the most powerful, most fun to drive, and safest Crosstrek we’ve ever made, with performance, technology, and design updates throughout.
                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/crosstrek5.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Extra Power, Capability, and Fun
                                    p.mb-0.text-white-50
                                        | The 2024 Crosstrek features a newly available 2.5-liter direct-injection SUBARU BOXER engine that delivers more torque and increases output to 182 horsepower – extra power that makes all your trips more exciting and responsive.
                // Project Two Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/crosstrek10.jpg', alt='...')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Sporty Exterior Design
                                    p.mb-0.text-white-50
                                        | Crosstrek Sport features unique exterior design elements like its aggressively styled grille and wheel arch moldings, gunmetal finish exterior accents, and exclusive dark gray wheels.

                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/crosstrek4.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Comfortable and Modern Interior
                                    p.mb-0.text-white-50
                                        | Inside the Crosstrek Sport, you’ll find a comfortable interior that combines modern style and durable high-tech materials – like its standard, adventure-ready StarTex® water-repellent upholstery with yellow contrast stitching and yellow accent trim.
                // Project Two Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/crosstrek7.jpg', alt='...')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Safe, Convenient, and Entertaining
                                    p.mb-0.text-white-50
                                        | The 2024 Crosstrek features STARLINK Multimedia with standard Apple CarPlay® and Android Auto™ integration. Wireless pairing and hands-free smartphone operation allow for safe and easy connection to your favorite apps and content. Access news, navigation, music, podcasts, and more through available cloud-based STARLINK apps and SiriusXM®. An 8-inch touchscreen is available, as well as a built-in and voice-activated navigation system powered by TomTom®.
        
        // Contact
        section#contact.signup-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Address
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='/hours.aspx') 1326 SE Enterprise, Charlotte, NC 28204
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Sales
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='tel:555-877-5434') 555-877-5434
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Service
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='tel:555-877-5435') 555-877-5435
                
                    

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright &copy; Subaru Crosstrek 2024

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
